<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>test_project</contextName>
    <property name="projectName" value="test_project"/>
    <property name="logPath" value="${LOG_PATH:-/data/log/test_project}"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%X{tid}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
    </root>

</configuration>